@import "./variables.scss";

html {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
input,
textarea,
select,
button {
  outline: none;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
}

body {
  margin: 0;
  font-family: $ff-roboto;
  background: $bg-grey;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
