$ff-roboto: "Roboto", sans-serif;

$bg-grey: rgb(245, 245, 250);

$breakpoints: (
  "small": 599px,
  "mobile": 739px,
  "tablet": 1023px,
  "tablet-pro": 1365px,
) !default;

$z-negative: -1;
$z-elevate: 1;
$z-sticky: 100;
$z-drawer: 200;
$z-dropdown: 400;
$z-modal: 500;
$z-popover: 1000;
